.hero {
  padding-top: 64px;
  padding-bottom: 64px;
  background-image: url('../img/space.png');
  background-size: contain;
  @media (min-width: 992px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  &__logo {
    width: 100%;
    height: auto;
  }
}