// credits: https://codepen.io/jimmyhayek/pen/yJkdEB?editors=1100


$breakpoint-xs: 24em;
$breakpoint-sm: 50em;
$breakpoint-md: 60em;
$breakpoint-lg: 72em;
$round-title-text: white;
$round-title-bg: white;
$divider: white;
$bracket-connection: white;
$match-background: white;


#tournament-visual {
  // padding: 1rem 1rem 3rem;
  background-image: url('../img/grass.jpg');
  * {
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.tournament-bracket {
  display: flex;
  flex-direction: column;
  
  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
  }
}

.tournament-bracket__round {
  display: flex;
  flex-direction: column;
  margin-left: -3px;
  flex: 1;
}

  .tournament-bracket__round-title {
    // color: $round-title;
    font-size: 1rem;
    // font-weight: 400;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0.5em;
    background-color: $round-title-bg;
  }

  .tournament-bracket__list {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 0 auto;
    // height: 100%;
    // min-height: 100%;
    list-style: none;
    padding: 0 0 2em 0;
    margin: 0 0 2em 0;
    transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
    
    @media (max-width: $breakpoint-xs) {
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
    
    @media (min-width: $breakpoint-sm) {
      margin-bottom: 0;
      padding-bottom: 0;
      border-right: 1px dashed $divider;
    }
    
    .tournament-bracket__round:last-child & {
      border: 0;
    }
  }

    .tournament-bracket__item {
      display: flex;
      flex: 0 1 auto;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding: 2% 0;
      width: 48%;
      transition: padding 0.2s linear;
      
      &:nth-child(odd) {
        margin-right: 2%;
      }
      
      &:nth-child(even) {
        margin-left: 2%;
      }
      
      &::after {
        transition: width 0.2s linear;
      }
      
      @media (max-width: $breakpoint-xs) {
        width: 100%;
        
        &:nth-child(odd),
        &:nth-child(even) {
          margin-left: 0;
          margin-right: 0;
        }
      }
      
      @media (min-width: $breakpoint-sm) {
        padding: 0.5em 1em;
        // flex-grow: 2;
        width: 100%;
        
        &:nth-child(odd),
        &:nth-child(even) {
          margin: 0;
        }
        
        &::after {
          position: absolute;
          right: 0;
          content: '';
          display: block;
          width: 1em;
          height: 45%;
          border-right: 2px solid $bracket-connection;
        }

        &:nth-child(odd)::after {
          top: 50%;
          border-top: 2px solid $bracket-connection;
          transform: translateY(-1px);
          
          .tournament-bracket--rounded & {
            border-top-right-radius: 0.6em;
          }
        }
        
        &:nth-child(even)::after {
          bottom: 50%;
          border-bottom: 2px solid $bracket-connection;
          transform: translateY(1px);
          
          .tournament-bracket--rounded & {
            border-bottom-right-radius: 0.6em;
          }
        }
        .tournament-bracket__round:first-child & {
          padding-left: 0;
        }
        .tournament-bracket__round:last-child & {
          padding-right: 0;

          &::after {
            display: none;
          }
        }

        .tournament-bracket__round:nth-last-child(2) & {
          &::after {
            // border-radius: 0;
            // border-right: 0;
          }
        }  
      }
      
      @media (min-width: $breakpoint-lg) {
        padding: 0.5em 1.5em;
        
        &::after {
          width: 1.5em;
        }
      }
    }


      .tournament-bracket__match {
        display: flex;
        width: 100%;
        background-color: $match-background;
        padding: .25rem;
        border-radius: 2px;
        transition: padding 0.2s ease-in-out, border 0.2s linear;
        overflow: hidden;

        &::before,
        &::after {
          transition: all 0.2s linear;
        }
        
        @media (max-width: $breakpoint-xs) {
          // padding: 0.75em 0.5em;
        }
        
        @media (min-width: $breakpoint-sm) {
          &::before,
          &::after {
            position: absolute;
            left: 0;
            z-index: 1;
            content: '';
            display: block;
            width: 1em;
            height: 10%;
            border-left: 2px solid $bracket-connection;
          }

          &::before  {
            bottom: 50%;
            border-bottom: 2px solid $bracket-connection;
            transform: translate(0, 1px);
            
            .tournament-bracket--rounded & {
              border-bottom-left-radius: 0.6em;
            }
          }

          &::after  {
            top: 50%;
            border-top: 2px solid $bracket-connection;
            transform: translate(0, 0);
            
            .tournament-bracket--rounded & {
              border-top-left-radius: 0.6em;
            }
          }
        }
        
        @media (min-width: $breakpoint-lg) {
          &::before,
          &::after {
            width: 1.5em;
          }
          
          &::before {
            transform: translate(0, 1px);
          }
          
          &::after {
            transform: translate(0, -1px);
          }
        }
      }

.tournament-bracket__round:last-child .tournament-bracket__match {
  &::before,
  &::after {
    // border-left: 0;
  }
  
  &::before  {
    // border-bottom-left-radius: 0;
  }
  
  &::after  {
    // display: none;
  }
}

.tournament-bracket__round:first-child .tournament-bracket__match {
  &::before,
  &::after {
    display: none;
  }
}

.tournament-bracket__content {
  display: flex;
  flex-direction: column;
  
}


.tournament-bracket__table {
  width: 100%;
}

.tournament-bracket__team {
  display: flex;
  align-items: center;
  font-size: .875rem;
  line-height: 1;
}

  .tournament-bracket__image {
    margin-right: .25rem;
    img {
      width: 35px;
      height: auto;
    }
  }

  .tournament-bracket__name {
  }

  .tournament-bracket__token {
    text-transform: uppercase;
    font-weight: 600;
  }
