// credits: https://codepen.io/jimmyhayek/pen/yJkdEB?editors=1100


$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$divider: white;
$bracket-connection: white;
$match-background: white;
$green-dark: rgba(60, 116, 38, 0.8);
$green-light: rgba(137, 192, 115, 0.9);


#tournament-visual {
  padding: 1rem;
  background-image: url('../img/grass.jpg');
  * {
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}

.tournament-bracket {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }
}

.tournament-bracket__round {
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  flex: 1;
  @media (min-width: $breakpoint-md) {
    max-width: 17.438rem;
  }
}

  .tournament-bracket__round-title {
    font-size: 1rem;
    // font-weight: 700;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    font-size: .875rem;
    line-height: 1;
    color: white;
    background-color: $green-dark;
    border: 1px solid $green-light;
    @media (min-width: $breakpoint-md) {
      margin-right: 4px;
      .tournament-bracket__round:last-child & { margin-right: 0; }
    }
  }

  .tournament-bracket__list {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 0 auto;
    list-style: none;
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
    transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
    
    @media (min-width: $breakpoint-md) {
      margin-bottom: 0;
      padding-bottom: 0;
      // border-right: 1px dashed $divider;
    }
    
    .tournament-bracket__round:last-child & {
      border: 0;
    }
  }

    .tournament-bracket__item {
      display: flex;
      flex: 0 1 auto;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding: 2% 0;
      width: 48%;
      transition: padding 0.2s linear;
      
      &:nth-child(odd) {
        margin-right: 2%;
      }
      
      &:nth-child(even) {
        margin-left: 2%;
      }
      
      &::after {
        transition: width 0.2s linear;
      }
      
      @media (max-width: $breakpoint-xs) {
        width: 100%;
        
        &:nth-child(odd),
        &:nth-child(even) {
          margin-left: 0;
          margin-right: 0;
        }
      }
      
      @media (min-width: $breakpoint-md) {
        padding: 0.5em 1em;
        // flex-grow: 2;
        width: 100%;
        
        &:nth-child(odd),
        &:nth-child(even) {
          margin: 0;
        }
        
        &::after {
          position: absolute;
          right: 0;
          content: '';
          display: block;
          width: 1em;
          height: 45%;
          border-right: 2px solid $bracket-connection;
        }

        &:nth-child(odd)::after {
          top: 50%;
          border-top: 2px solid $bracket-connection;
          transform: translateY(-1px);
          
          .tournament-bracket--rounded & {
            border-top-right-radius: 0.6em;
          }
        }
        
        &:nth-child(even)::after {
          bottom: 50%;
          border-bottom: 2px solid $bracket-connection;
          transform: translateY(1px);
          
          .tournament-bracket--rounded & {
            border-bottom-right-radius: 0.6em;
          }
        }
        .tournament-bracket__round:first-child & {
          padding-left: 0;
        }
        .tournament-bracket__round:last-child & {
          padding-right: 0;

          &::after {
            display: none;
          }
        }

        .tournament-bracket__round:nth-last-child(2) & {
          &::after {
            // border-radius: 0;
            // border-right: 0;
          }
        }  
      }
      
      @media (min-width: $breakpoint-lg) {
        padding: 0.5em 1.5em;
        
        &::after {
          width: 1.5em;
        }
      }
    }


      .tournament-bracket__match {
        display: flex;
        width: 100%;
        background-color: $match-background;
        padding: 2px;
        border-radius: 3px;
        transition: padding 0.2s ease-in-out, border 0.2s linear;
        overflow: hidden;
        outline: none;
        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px orange;
        }

        &::before,
        &::after {
          transition: all 0.2s linear;
        }
        
        @media (max-width: $breakpoint-xs) {
          // padding: 0.75em 0.5em;
        }
        
        @media (min-width: $breakpoint-md) {
          &::before,
          &::after {
            position: absolute;
            left: 0;
            z-index: 1;
            content: '';
            display: block;
            width: 1em;
            height: 10%;
            border-left: 2px solid $bracket-connection;
          }

          &::before  {
            bottom: 50%;
            border-bottom: 2px solid $bracket-connection;
            transform: translate(0, 1px);
            
            .tournament-bracket--rounded & {
              border-bottom-left-radius: 0.6em;
            }
          }

          &::after  {
            top: 50%;
            border-top: 2px solid $bracket-connection;
            transform: translate(0, 0);
            
            .tournament-bracket--rounded & {
              border-top-left-radius: 0.6em;
            }
          }
        }
        
        @media (min-width: $breakpoint-lg) {
          &::before,
          &::after {
            width: 1.5em;
          }
          
          &::before {
            transform: translate(0, 1px);
          }
          
          &::after {
            transform: translate(0, -1px);
          }
        }
      }

// .tournament-bracket__round:last-child .tournament-bracket__match {
//   &::before,
//   &::after {
//     // border-left: 0;
//   }
  
//   &::before  {
//     // border-bottom-left-radius: 0;
//   }
  
//   &::after  {
//     // display: none;
//   }
// }

.tournament-bracket__round:first-child .tournament-bracket__match {
  &::before,
  &::after {
    display: none;
  }
}

.tournament-bracket__content {
  display: flex;
  flex-direction: column;
  
}


.tournament-bracket__table {
  width: 100%;
}

.tournament-bracket__team {
  display: flex;
  align-items: center;
  font-size: .875rem;
  line-height: 1;
  margin-bottom: 1px;
  padding-bottom: 1px;
  border-bottom: 1px solid lightgray;
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  > td { padding: 0; }
}

  .tournament-bracket__image {
    margin-right: .25rem;
    img {
      border-radius: 3px;
      width: 28px;
      height: auto;
    }
  }

  .tournament-bracket__label {
    white-space: nowrap;
  }

  .tournament-bracket__name {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1.5;
    @media (min-width: $breakpoint-md) {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media (min-width: $breakpoint-lg) {
      max-width: none;
      overflow: visible;
      text-overflow: unset;
    }
  }

  .tournament-bracket__token {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 600;
  }

  .tournament-bracket__result {
    margin-left: auto;
    text-align: right;
  }

  .tournament-bracket__tip {
    // margin-left: auto;
    margin-right: .5rem;
    font-size: 1rem;
    white-space: nowrap;
    &:hover i {
      color: darkorange;
    }
  }
